* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: auto;
  background-color: #eee;
}

footer {
  padding: 0.5rem;
}

a {
  color: DodgerBlue;
}

input {
  width: 5em;
  font-size: 1em;
  border: 1px solid grey;
  transition: 150ms box-shadow ease;
}

input:focus {
  outline: none;
  border-color: DodgerBlue;
  box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.5);
}

footer,
h1,
h2 {
  text-align: center;
}

.content {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

input,
.content,
.history {
  border-radius: 4px;
}

.history:not(:has(li)) {
  display: none;
}

.eyes {
  float: right;
  padding-left: 1em;
  height: 70px;
}

.description {
  min-height: calc(70px + 1em);
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 800px) {
  .content {
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }

  .content,
  input {
    color: white;
    background-color: #222;
  }

  input {
    border-color: white;
  }
}
