:root {
  --highlight: DodgerBlue;
  --page-bg: #eee;
  --content-bg: #d0f6fe;
  --input-bg: #fff;
  --border: grey;
  --text: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --page-bg: #111;
    --content-bg: #0f111e;
    --input-bg: #222;
    --border: #aaa;
    --text: #fff;
  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--page-bg);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--text);
  display: flex;
  flex-direction: column;
}

footer {
  padding: 0.5rem;
}

a {
  color: var(--highlight);
}

input {
  width: 5em;
  font-size: 1em;
  transition: 150ms box-shadow ease;
  background-color: var(--input-bg);
  color: var(--text);
}

input:focus {
  outline: none;
  border-color: var(--highlight);
  box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.5);
}

input,
fieldset {
  border: 1px solid var(--border);
  border-radius: 4px;
}

.content {
  padding: 0.5rem 1rem;
  background-color: var(--content-bg);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bubble {
  position: relative;
  width: fit-content;
  margin-left: 50%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: var(--input-bg);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

.bubble::before {
  /* Based on https://codepen.io/run-time/pen/VNRBJd */
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid var(--input-bg);
  border-right: 6px solid transparent;
  border-top: 6px solid var(--input-bg);
  border-bottom: 10px solid transparent;
  left: 16px;
  bottom: -12px;
}

#history {
  display: none;
  text-align: left;
  overflow: auto;
}

.description {
  display: flex;
  gap: 1rem;
}

.desc-text {
  flex-grow: 1;
  margin: 0;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#list {
  margin: 0.25rem;
}

#list > li > span {
  float: right;
}

@media (min-width: 800px) {
  body {
    margin: auto;
    max-width: calc(800px - 2rem);
  }
  .content {
    margin: 1rem 0;
  }
}

@media (max-height: 550px) {
  #history {
    display: none !important;
  }
}
