* {
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
}

body {
  max-width: 800px;
  margin: auto;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

footer {
  padding: 0.5rem;
}

a {
  color: DodgerBlue;
}

input {
  width: 5em;
  font-size: 1em;
  transition: 150ms box-shadow ease;
}

input:focus {
  outline: none;
  border-color: DodgerBlue;
  box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.5);
}

input,
fieldset {
  border: 1px solid grey;
  border-radius: 4px;
}

.content {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #d0f6fe;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.bubble {
  position: relative;
  width: fit-content;
  margin-left: 50%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}

.bubble::before {
  /* Based on https://codepen.io/run-time/pen/VNRBJd */
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid #fff;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
  border-bottom: 10px solid transparent;
  left: 16px;
  bottom: -12px;
}

#history {
  display: none;
  text-align: left;
  overflow: auto;
  resize: vertical;
  height: 8rem;
}

.description {
  display: flex;
  gap: 1rem;
}

.desc-text {
  flex-grow: 1;
  margin: 0;
}

.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#list {
  margin: 0.25rem;
}

#list > li > span {
  float: right;
}

@media (max-width: 800px) {
  .content {
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
    background-color: #111;
  }

  .content {
    color: white;
    background-color: #0f111e;
  }

  input,
  fieldset {
    border-color: #aaa;
  }

  input,
  .bubble {
    background-color: #222;
  }
  .bubble::before {
    border-top-color: #222;
    border-left-color: #222;
  }
}
